fixeddfcr-notevolving-notanomalized.RData
thinplate-notevolving-anomalized.RData
thinplate-notevolving-notanomalized.RData
thinplate-seasonallyvarying-notanomalized.RData
thinplate-seasonallyvarying-anomalized.RData
fixeddfcr-seasonallyvarying-anomalized.RData
