estimates.png
map absolute.png
map relative.png
mosqinfectgrowthrates.png
mosquito infection rates.png
predictions.png
site graphic.png
strata.png
temperature.png
vapor pressure deficit.png
var1.png
var2.png
vector infection rates.png
